/* .center {
    margin: auto;
    width: 60%;
    border: 5px solid black;
    padding: 10px;
    text-align: center;

} */

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}
header{
    position:flex;
    flex-direction:row;
    background-color: rgb(9, 184, 184);
}

main {
    /* background-color: red; */
    /* position:fixed;
    flex-direction: row; */
    /* justify-content:space-between; */
}
header h1{
    position:flex;
    flex-direction:row;
position:absolute;
justify-content: space-between;

}
#score{
    /* position:flex; */
    /* flex-direction: row;  */
    /* justify-content: space-between;
    padding: 200px; */
}
 #time{
    /* position:flex; */
    /* flex-direction: row;  */
    /* justify-content: space-between;
    padding: 200px; */
}



#start {

    visibility: visible;
}

.btn {
    border: none;
    background-color: rgb(8, 86, 175);
    border-radius: 5px;

    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

.questionbtn {
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 70px;
    /* left:auto; */
    text-align: center;
    border: none;
    /* background-color: rgb(8, 86, 175); */
    border-radius: 5px;
    margin-left: 20%;
    /* display: inline-block; */
    font-size: 22px;
    line-height: 22px;
    /* margin: 16px 16px 16px 20px; */
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    visibility: hidden;
}

#q1, #q2, #q3, #q4 {
    /* visibility: hidden; */
    margin-bottom: 10px;
}
.optBtn{
    /* visibility: hidden; */
}

.questionbtn section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* position: relative; */
    /* justify-content: space-between; */
  
}
/* #time{
   
    left: 300px;
}
#score{
    position: relative;
  
} */
.questionbtn section h4{
   max-width: 230px;
}